<h1>Countries of the world!</h1>

<main class = 'all-countries'>
  <section class = 'single-country' *ngFor = 'let country of countries | async'>
    <h3>{{country.name}}</h3>
    <p>Capital: {{country.capital}}</p>
    <p>Population: {{country.population}}</p>
  </section>
</main>
